<div class="footer mb-10" align="center">
    <hr>
    <div class="container">
        <span>
            <a href="https://api.whatsapp.com/send?phone=+573217023750"><i class="fab fa-2x fa-whatsapp fa-fw"></i></a>
            <!-- <a href='https://twitter.com/'><i class="fab fa-twitter fa-2x" style="color:lightblue;"></i></a> -->
            <a href='https://www.facebook.com/'><i class="fab fa-facebook fa-2x fa-fw"></i></a>
            <a href="https://instagram.com"><i class="fab fa-2x fa-instagram fa-fw"></i></a>
            <!-- <a href="https://youtube.com"><i class="fab fa-2x fa-youtube fa-fw" style="color:red;"></i></a> -->
        </span>

    </div>
    <br>
    <div>
        <span>
            <!-- <i>Iconos by <a href="https://iconos8.es/icons">iconos8</a></i> -->
        </span>
    </div>
</div>