<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/icons/tutoo2x.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link float-right" [routerLink]="['/']">Inicio</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link float-right" [routerLink]="['categories']">Categorias</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link float-right" [routerLink]="['request']">Solicitud</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link float-right" [routerLink]="['about']">Acerca de</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link float-right" [routerLink]="['admin']">Admin</a>
            </li>
        </ul>
    </div>
</nav>